* {
    padding: 0%;
    margin: 0%;

}
body {
   
    justify-content: center;
    align-items: center;
    height: 100px;
    background: linear-gradient(135deg, #667eea,#764ba2);
}
.container-login {
     height: 700px;
    width: 800px;
    background: white;
    border-radius: 15px;
    display: flex;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
   margin: 25%;  
   margin-top: 20%;
  
}
.form-containerlogin {
    flex: 1;
    padding: 40px;
   
}
.form-containerlogin h2 {
     margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}
.form-containerlogin input[type="email"],
.form-containerlogin input[type="Password"]
{
    width: 100%;
    padding: 12px;
    margin: 8px ;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.form-containerlogin {
     font-size: 14px;
    color: #555;
}
.form-containerlogin .button {
     width: 100%;
   padding: 12px;
   margin-top: 20px;
   border: none;
   border-radius: 4%;
   background: linear-gradient(to bottom right,#667eea,#764ba2);
   color: white;
   font-size: 16px;
   cursor: pointer;
   transition: 0.3s;
}
.side-panel {
     flex: 1;
    background: linear-gradient(135deg,#667eea,#764ba2);
    color: white;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15%;
   
   
}
.side-panel h2 {
     margin-bottom: 10px;

}
.side-panel p {
      margin-bottom: 20px;
}
.side-panel button {
     background: transparent;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    transition: 0.3s;
}
.side-panel button:hover {
    background: white;
    color: #2575fc;
}
div {
    padding: 50%;
    text-align: center;
}